# Exclude everything execept the files specified here
**
# Go src packages
!lotto.go
!lotto_test.go
!cmd/
!environment/
!mothership/
!testFramework/
!util

# Dep files
!Gopkg.*

# Test files
!tests/
!config-*
!clean-starbase.nacl
!*uplink.json
